/* MEDIA QUERIES */

/* BEGIN HEADER */
@media screen and (min-width: 601px) {
  .header {
    margin: auto;
    flex-wrap: wrap;
    justify-content: center;
    }
  .header-link[data-active=true] {
    border-top: 4px solid #0065FC;
  }
  .header-link:hover {
    border-top: 4px solid #0065FC;
  }
}
@media screen and (max-width: 600px) {

    .header {
      margin: auto;
      flex-wrap: wrap;
      justify-content: flex-start;
    }
    .header-logo {
      order: 0;
      display: flex;
      margin-left: 1rem;
    }
      .header-register { 
        order: 1;
        margin-left: auto;
    }
      .header-nav {
        flex: 1;
        order: 3;
    }
    .header-link {
        border-top: none;
        border-bottom: 4px solid #F2F2F2;
        width: 50%;
    }
      .header-link[data-active=true] {
        border-bottom-color: #0065FC;
      }
      .header-link:hover {
        border-bottom-color: #0065FC;
    }
}

/*BEGIN MAIN */

    /*BEGIN SEARCH */

@media screen and (max-width: 600px) {
  .main {
    padding: 0;
  }
  .search {
    margin: auto;
  }
  .formSearch {
    display: flex;
    width: 85%;
    margin-left: 1.7rem;
    padding-top: 1rem;
  }
  .header-search {
    padding-left: 1.7rem;
    padding-right: 1.7rem;
  }
  .subtitle-search {
    padding-top: 0.5rem;
  }
  .searchResult {
    margin:0;
    padding: 1rem;
  }
  .form-search-input {
    flex: 0.2rem;
    padding: 1.1rem;
    width: 8rem;
  }
  .formSearchLocation{
    border-radius: 1.1rem 0 0 1.1rem;
  }
  .formSearchMagnifyingGlassText {
    display: none;
  }
  .formSearchMagnifyingGlassInputIcon {
    display: block;
  }
  .formSearchMagnifyingGlassInput {
    border-radius: 1rem;
    padding: 0 1.3rem;
  }
  .searchFilters {
    margin-left: 1.5rem;
  }
}
@media screen and (max-width: 650px) {
  .searchFiltersTitle {
    width: 100%;
  }
  .searchFiltersFilter {
    margin-right: 1rem;
  }
}
@media screen and (min-width: 601px) {
  .formSearchMagnifyingGlassText {
    display: block;
  }
  .formSearchMagnifyingGlassInputIcon {
    display: none !important;
  }
}

    /* BEGIN HOSTING AND POPULAR */

@media screen and (max-width: 600px) {
  .hostingMain {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  padding-top: 0;
  padding-bottom: 0;
  row-gap: 0.8rem;
  }
  .hostingPopular {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  row-gap: 0.8rem;
  }
  .hostingMainHeader, .hostingPopularTitle {
    padding-bottom: 1rem;
  }
  .hostingMainViewmore {
    padding-top: 1rem;
  }
}

@media (max-width: 1440px) {
  .hosting {
    grid-template-columns: 1fr;
    row-gap: 2rem;
  }
  .hostingPopular {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto 10rem;
    column-gap: 2rem;
    grid-row-start: 1;
  }
  .hostingPopularTitle {
    grid-column: 1/-1;
  }
}
@media (min-width: 925px) {
  .hostingMain {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (max-width: 925px) and (min-width: 650px) {
  .hostingMain {
    grid-template-columns: 1fr 1fr;
  }
}
@media (max-width: 650px) {
  .hostingMain {
    grid-template-columns: 1fr;
    background-color: white;
  }
  .hostingPopular {
    border-radius: 0;
  }
}
@media (max-width: 1000px) {
  .hostingPopular {
    grid-template-columns: 1fr;
    grid-template-rows: auto repeat(3, 9rem);
  }
}

/* BEGIN ACTIVITIES */

@media (min-width: 1100px) {
  .activity {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto 14rem 2rem 2rem 2rem 14rem;
  }
  .activityCard1 {
    grid-row: 2/7;
    grid-column: 1/2;
  }
  .activityCard2 {
    grid-column: 2/3;
    grid-row: 2/5;
  }
  .activityCard3 {
    grid-column: 3/4;
    grid-row: 2/7;
  }
  .activityCard4 {
    grid-column: 4/5;
    grid-row: 2/3;
  }
  .activityCard5 {
    grid-column: 2/3;
    grid-row: 6/7;
  }
  .activityCard6 {
    grid-column: 4/5;
    grid-row: 4/7;
  }
}
@media (max-width: 1100px) {
  .activity {
    row-gap: 2rem;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto 12rem 12rem;
  }
}
@media (max-width: 925px) {
  .activity {
    row-gap: 2rem;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto 12rem 12rem 12rem;
  }
}
@media (max-width: 650px) {
  .activity {
    row-gap: 2rem;
    grid-template-columns: 1fr;
    grid-template-rows: auto 12rem 12rem 12rem 12rem 12rem 12rem;
  }
}
@media (max-width: 600px) {
  .activity {
    margin: 0;
    margin-top: 2rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }

}


  
