@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700;800;900&display=swap");

body {
    margin: 0;
    font-family: "Raleway", "Sans serif";
}

a {
    text-decoration: none;
    color: inherit;
}

/* BEGIN HEADER */
.header {
  display: flex;
  align-items: center;
  max-width: 1440px;
  margin: auto;
}
.headerLogo {
  margin-left: 2rem;
  height: 2.5rem;
}
.headerNavBar {
  margin-left: auto;
  order: 2;
  display: flex;
  align-items: center;
}
.headerNavBarLink {
  font-weight: 600;
  text-align: center;
  padding: 2rem;
  width: 100%;
  transition-duration: 0.1s;
  border-top: 4px transparent solid;
  border-bottom: 4px transparent solid;
}
.headerNavBarLink[data-active=true] {
  color: #0065FC;
}
.headerNavBarLink:hover {
  color: #0065FC;
}
.headerRegister {
  display: flex;
  align-items: center;
  order: 3;
  padding: 2rem;
  color: #0065FC;
  font-weight: 800;
}
/* END HEADER */

/* BEGIN MAIN*/
.main {
  max-width: 1440px;
  margin: auto;
  padding: 0 2.5rem;
  box-sizing: border-box;
}

  /* BEGIN SEARCH*/
.headingSearch {
  margin-bottom: 0.5rem;
  font-weight: 800;   
}
.subtitleSearch {
  margin-top: 0;
  font-weight: 600;

}
.formSearch {
  display: inline-flex;
  max-width: 100%;
  overflow: auto;
}
.formSearchGps {
  background-color: #F2F2F2;
  padding: 1.1rem;
  border-radius: 1rem 0 0 1rem;
  text-align: center;
}
.gpsIcon {
  margin-left: 0.25rem;
  margin-right: 0.25rem;
}
.formSearchInput {
  border-right: none;
  border-left: none;
  border-top: #F2F2F2 1px solid;
  border-bottom: #F2F2F2 1px solid;
  padding: 0 1rem;
  box-sizing: border-box;
  width: 14rem;
  font-size: 1rem;
  font-weight: bold;
  font-family: "Raleway", "Sans serif";
}
.formSearchInput::placeholder {
  font-family: "Raleway", "Sans serif";
  font-size: 1.1rem;
  font-weight: 800;
  color: black;
}

.formSearchBtnInput {
  background-color: #0065FC;
  color: white;
  font-weight: bold;
  border: none;
  border-radius: 0 1rem 1rem 0;
  padding: 0 1.5rem;
  font-family: "Raleway", "Sans serif";
  font-size: 1rem;
  cursor: pointer;
}
.filters {
  display: flex;
  margin-top: 2rem;
  flex-wrap: wrap;
}
.filtersTitle {
  margin: 0 2rem 1rem 0;
  display: flex;
  align-items: center;
  font-weight: 800;
}
.filtersSelection {
  display: flex;
  align-items: center;
  margin-right: 2rem;
  border: 2px solid #d9d9d9;
  border-radius: 2rem;
  margin-bottom: 1rem;
  cursor: pointer;
  transition-duration: 0.1s;
  font-weight: 800;
}
.filtersSelection:last-child {
  margin-right: 0;
}
.filtersSelection:hover {
  background-color: #f3f8ff;
  transform: scale(1.15);
}
.selectionWrapIcon {
  background-color: #DEEBFF;
  border-radius: 100%;
  height: 3rem;
  width: 3rem;
  min-height: 3.5rem;
  min-width: 3.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: -2px;
}
.selectionIcon {
  color: #0065FC;
}
.selectionTitle {
  margin: 0 1rem;
}
.searchResult {
  display: flex;
  align-items: center;
  margin: 1rem 0 2rem 0;
  font-weight: 600;
}
.resultWrapicon {
  height: 1.5rem;
  width: 1.5rem;
  min-height: 1.5rem;
  min-width: 1.5rem;
  border: solid 2px #d9d9d9;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 1rem;
}
.resultIcon {
  color: #0065FC;
}
.searchResultText {
  margin: 0;
}
/* END SEARCH */


/* BEGIN HOSTING */
.hostingWrapper, .hostingPopular, .hostingMain {
background-color: #F2F2F2;
border-radius: 1.5rem;
padding: 2.5rem;
}

.hosting {
display: grid;
column-gap: 2rem;
grid-template-columns: 6fr 3fr;
}
.hostingMain {
display: grid;
column-gap: 2rem;
row-gap: 2rem;
}
.hostingMainHeader {
grid-column: 1/-1;
}
.hostingMainHeaderTitle {
font-weight: 800;
margin: 0;
}
.frameMain {
background-color: white;
padding: 0.320rem;
border-radius: 1.25rem;
box-shadow: 0 0 15px #0000002e;
transition-duration: 0.1s;
cursor: pointer;
box-sizing: border-box;
height: 100%;
}
.frameMain:hover {
transform: scale(1.08);
border-radius: 1.50rem;
}
.frameFigure {
margin: 0;
}
.framePicture {
height: 7rem;
object-fit: cover;
max-width: 100%;
width: 100%;
max-height: 100%;
border-radius: 1rem 1rem 0 0;
}
.frameCaptionTitle {
margin: 0.25rem 0.75rem 0 0.75rem;
font-weight: 800;
}
.frameCaptionTitle {
  font-weight: 800;  
}
.frameDescription {
margin: 0.25rem 0.75rem 0.25rem 0.75rem;
}
.framePrice {
font-weight: bold;
}
.frameLevel {
margin: 0 0.75rem 0.25rem 0.75rem;
}
.levelIcon[data-active=true] {
color: #0065FC;
}
.levelIcon[data-active=false] {
color: #d9d9d9;
}
.hostingMainViewmore {
font-weight: 800;
}
.hostingPopular {
display: grid;
row-gap: 2rem;
align-items: start;
grid-template-rows: auto repeat(3, 1fr);
}
.hostingPopularTitle {
font-weight: 800;  
margin: 0;
display: flex;
justify-content: space-between;
}
.hostingPopularWrapcontent {
display: flex;
align-items: stretch;
height: 100%;
overflow: auto;
}
.hostingPopularWrapcontentWrapimg {
position: relative;
min-height: 100%;
width: 33%;
min-width: 33%;
max-width: 33%;
}
.hostingPopularWrapcontentWrapimgImg {
border-radius: 1rem 0 0 1rem;
position: absolute;
width: 100%;
height: 100%;
object-fit: cover;
}
.hostingPopularWrapcontentContent {
display: flex;
flex-direction: column;
}
.hostingPopularWrapcontentContentWhitespace {
flex: 1;
}
.hostingPopularhostingMainCard {
height: 8.75rem;
}

/* BEGIN ACTIVITIES */

.activity {
  display: grid;
  column-gap: 2rem;
  margin: 4rem 0;
}
.activityTitle {
  grid-column: 1/-1;
  font-weight: 800;
}
.activityCard {
  box-shadow: 0 0 20px #0000002e;
  border-radius: 1rem;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  transition-duration: 0.1s;
}
.activityCard:hover {
  transform: scale(1.08);
}
.activityCardWrapimg {
  position: relative;
  flex: 1;
}
.activityCardWrapimgImg {
  position: absolute;
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.activityCardTitle {
  margin: 1.2rem 1.5rem;
}

/*BEGIN FOOTER */

.footer {
  background-color: #F2F2F2;
  width: 100%;
}
.footerColumnwrapper {
  display: flex;
  max-width: 100%;
  width: 1440px;
  margin: auto;
  padding: 0 2rem;
  box-sizing: border-box;
}
.footerColumnwrapperColumn {
  width: 30%;
  padding: 2rem 2rem;
}
.footerColumnwrapperColumnLink {
  display: block;
  margin: 1rem 0;
}
.footerColumnwrapperColumnLink:hover {
  text-decoration: underline;
}
  



  