@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700;800;900&display=swap");

body {
    margin: 0;
    font-family: "Raleway", "Sans serif";
}

a {
    text-decoration: none;
    color: inherit;
}

/* BEGIN HEADER + NAVBAR */

.header {
    display: flex;
    align-items: center; /* <-- mémo: aligne verticalement les élements */
    margin: auto;
    max-width: 1024px;
}
.logoHeader {
    margin-left: 2rem;
    height: 2.5rem;
}
.navHeader {
    display: flex;
    margin-left: auto;
    order: 2;
    align-items: center;
}
.navLink {
    font-weight: 600;
    text-align: center;
    width: 100%;
    padding: 2rem;
    transition-duration: 0.1s;
    border-top: 4px transparent solid;
    border-bottom: 4px transparent solid;
}
.navLink[data-active=true] {
    color: #0065FC;
}
.navLink:hover {
    color: #0065FC;
}
.registerHeader {
    display: flex;
    align-items: center;
    padding: 2rem;
    order: 3;
    color: #0065FC;
    font-weight: 800;
}

/* BEGIN MAIN */

.main {
    max-width: 1024px;
    margin: auto;
    padding: 0 2.5rem;
    box-sizing: border-box;
}

    /*BEGIN SEARCH + FILTERS */

    .searchHeading {
    margin-bottom: 0.5rem;
    font-weight: 800; 
    }
    .searchSubtitle {
    margin-top: 0;
    font-weight: 600;
    }
    .searchFilters {
    display: flex;
    margin-top: 2rem;
    flex-wrap: wrap;
    }
    .searchFiltersTitle {
    margin: 0 2rem 1rem 0;
    display: flex;
    align-items: center;
    font-weight: 800;
    }
    .searchFiltersSelections {
    display: flex;
    align-items: center;
    margin-right: 2rem;
    border: 2px solid #d9d9d9;
    border-radius: 2rem;
    margin-bottom: 1rem;
    cursor: pointer;
    transition-duration: 0.1s;
    font-weight: 800;
